.center {
  display: flex;
  justify-content: center;
}

.loader {
  background-color: red;
  width: 37rem;
  height: 14rem;
  border-radius: 7em;
  animation-name: jokeLoader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* The animation code */
@keyframes jokeLoader {
  from {
    background-color: red;
    width: 5em;
    height: 5em;
  }
  to {
    background-color: yellow;
    width: 25em;
    height: 25em;
  }
}
